@using mvcCatalog.Repositories.CategoryRepo
@model ProductView
@inject ICategoryRepository CategoryRepository

@{
    ViewData["Title"] = "Products";
    Layout = "_Layout";
    var category = await CategoryRepository.getById(int.Parse(Model.CategoryId));
    var parentCategoryId = category.ParentCategoryId.ToString();
}


@* <h1>Products</h1> *@

<input id="categoryId" value="@Model.CategoryId" hidden="hidden">


<div class="product_view">
    <div>

        <div class="filter_menu">

            <form class="sub-section" onsubmit="submitForm(); return false;">
                <label class="filter_sub_title">Price</label>
                <div class="price_range">
                    <div class="">
                        <span>from</span>
                        <br>
                        <input class="priceMinMax" id="from" type="number" autocomplete="off" min="0">
                        <br>
                        <span>to</span>
                        <br>
                        <input class="priceMinMax" id="to" type="number" autocomplete="off" min="0">
                    </div>
                    <button class="button_for_price" onclick="submitForm(); return false;">OK</button>
                </div>
                <div class="checkbox-centered">
                    <label for="isDiscount">Discount</label>
                    <input type="checkbox" id="isDiscount" name="IsDiscount" value="Discount">
                </div>

            </form>
        </div>
        <form class="filter_menu" onchange="submitForm(); return false;">

            @* <span class="filter_title">Workable Example</span> *@

            <div class="sub-section">
                <label class="filter_sub_title">Manufacturer</label>
                <ul id="manufacturer">
                    @foreach (var manufacturer in Model.Manufacturers)
                    {
                        <li>
                            <input type="checkbox" id="@manufacturer" name="Manufacturer" value="@manufacturer">
                            <label for="@manufacturer">@manufacturer</label>
                        </li>
                    }
                </ul>

            </div>
            @* <span class="filter_title">non-Workable Example</span> *@
        </form>
    </div>

    <ul id="products" class="products">
        @Html.Partial("_Products", Model.ProductsAndPrices)
        @{
            var data_add_product = new Dictionary<string, string>
            {
                { "parentCategoryId", parentCategoryId },
                { "categoryId", Model.CategoryId }
            };
        }

        <form class="product-element" asp-controller="Product" asp-action="Create" method="get" asp-all-route-data="data_add_product" onclick="this.submit()">
            <div class="children_category for_add_new_category_button">
                <div class="behind_effect"></div>
                <li class="add_new_category">
                                <label for="">Add New Product</label>

                </li>
                <input type="text" name="parentCategoryId" value="@parentCategoryId" hidden="hidden">
                <input type="text" name="categoryId" value="@Model.CategoryId" hidden="hidden">
            </div>

      
        </form>
    </ul>

</div>


@section Scripts
{
    <script>
    function submitForm(){
        let categoryId = document.getElementById("categoryId").value;
        
        let from = document.getElementById("from").value;
        let to = document.getElementById("to").value;
        if (from.length === 0 && to.length === 0){
            from = to = 0
            }
        else{
            if (from.length === 0) from = 0
            else from = parseInt(from);
            
            if (to.length === 0) to = 999999
            else to = parseInt(to);
        }
        
        let productsFilter = {
            Manufacturers: [],
            IsDiscount: false,
            PriceFrom: from,
            PriceTo: to
            }
        
        let manufacturers = document.getElementsByName("Manufacturer");
        
        
        
        
        if (document.getElementsByName("IsDiscount")[0].checked){
            productsFilter.IsDiscount = true;
        }
        for (let i = 0; i < manufacturers.length; i++){
            if (manufacturers[i].checked){
                productsFilter.Manufacturers.push(manufacturers[i].value);
            } 
        }
        console.log(productsFilter.PriceFrom)
        
        $.ajax({
            type: "POST",
            url: "@Url.Action("Products", "Product")",
            data: {categoryId, productsFilter},
            success: function(data) {
              $("#products").html(data);
            }
          });
    }

    function delete_product(productId) {
        $.ajax({
            type: "POST",
            url: "DeleteProduct",
            data: { productId: productId },
            success: function(result){
                location.reload();
            }
                
        });
    }
    </script>
}